<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UseSplitSpawnRadii>true</UseSplitSpawnRadii>
  <SpawnRadius>30</SpawnRadius>
  <VerticalSpawnRadius>10</VerticalSpawnRadius>
  <DisableTriggers>true</DisableTriggers>
  <SpawnAggressive>false</SpawnAggressive>
  <AllowClearQuestTriggers>true</AllowClearQuestTriggers>
  <OnlySpawnInCurrentPOI>true</OnlySpawnInCurrentPOI>
  <UpdateAfterTicksInterval>30</UpdateAfterTicksInterval>
  <ActivateTriggersAtRange>true</ActivateTriggersAtRange>
</Config>